.font-epilogue {
  font-family: "Epilogue", -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Helvetica Neue", "Adwaita Sans"," Cantarell", 'Ubuntu', "Roboto", "Noto", "Helvetica", "Arial", sans-serif;
}

.font-gantari {
  font-family: "Gantari", -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Helvetica Neue", "Adwaita Sans"," Cantarell", 'Ubuntu', "Roboto", "Noto", "Helvetica", "Arial", sans-serif;
}

.font-google-code {
  font-family: "Google Sans Code", Menlo, Consolas, Monaco, "Adwaita Mono", "Liberation Mono", "Lucida Console", monospace;
}

.font-karla {
  font-family: 'Karla', -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Helvetica Neue", "Adwaita Sans"," Cantarell", 'Ubuntu', "Roboto", "Noto", "Helvetica", "Arial", sans-serif;
}

.font-libre-franklin {
  font-family: 'Libre Franklin', -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Helvetica Neue", "Adwaita Sans"," Cantarell", 'Ubuntu', "Roboto", "Noto", "Helvetica", "Arial", sans-serif;
}

.font-lora {
  font-family: 'Lora', 'Iowan Old Style', 'Apple Garamond', Baskerville, 'Times New Roman',' Droid Serif', Times, 'Source Serif Pro', serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.font-newsreader {
  font-family: "Newsreader", 'Iowan Old Style', 'Apple Garamond', Baskerville, 'Times New Roman',' Droid Serif', Times, 'Source Serif Pro', serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.font-noto-mono {
  font-family: "Noto Sans Mono", Menlo, Consolas, Monaco, "Adwaita Mono", "Liberation Mono", "Lucida Console", monospace;
}

.font-playpen {
  font-family: "Playpen Sans", -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Helvetica Neue", "Adwaita Sans"," Cantarell", 'Ubuntu', "Roboto", "Noto", "Helvetica", "Arial", sans-serif;
}

.font-playwrite-gbs {
  font-family: 'Playwrite GBS', -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Helvetica Neue", "Adwaita Sans"," Cantarell", 'Ubuntu', "Roboto", "Noto", "Helvetica", "Arial", sans-serif;
}