@import './fonts.css';

:root {
  /* Fonts */
  --epilogue: "Epilogue", -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Helvetica Neue", "Adwaita Sans"," Cantarell", 'Ubuntu', "Roboto", "Noto", "Helvetica", "Arial", sans-serif;

  /* Colours */
  --orange-cream: rgba(246, 223, 208, 1);
  --muted-red: rgba(102, 46, 55, 1);
  --light-muted-red: rgba(148, 87, 97, 1);
  --muted-pink: rgba(206, 116, 131, 1);
  --strong-red: rgba(255, 15, 15, 1);
  --dark-cool-purple: rgba(6, 0, 73, 0.4);
}

html, body {
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
}

* button {
  app-region: no-drag;
}

button, p {
  font-family: inherit;
}

main {
  max-height: 100%;
  max-width: 100%;
  flex: 0 0 100%;
  display: flex;
}

.page {
  height: 100%;
  width: 100%;
  min-height: 0;
  flex: 1;
  app-region: drag;
}

title-bar {
  width: 100%;
  display: block;
}

.title-bar {
  height: fit-content;
  display: flex;
  justify-content: flex-end;
  padding: 8px;
  button {
    height: 20px;
    font-size: 0.7em;
    font-weight: 900;
    margin-left: 5px;
    width: 20px;
    padding: 2px;
  }
}

.title-bar #min {
  font-size: 0.8em;
}

/* Bottom border growing from left to right animation */
.underline-animation {
  position: relative;
}
.underline-animation::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  background-color: currentColor;
  transition: width 0.5s ease;
}
.underline-animation:hover::after {
  width: 100%;
}

/* ---------- Login page ---------- */
#login-page {
  display: grid;
  grid-template-rows: 1fr 4fr;
  justify-items: center;
  align-items: center;
  background-image: url("./../../assets/images/login-background.png");
  border: 2px solid var(--light-muted-red);
  border-radius: 9px;
}

#music-note {
  position: absolute;
  right: 5px;
  opacity: 50%;
  transform: scale(33%);
  mix-blend-mode: overlay;
}

#login-page-star {
  position: absolute;
  right: 120px;
  bottom: 35px;
}

#login-page .title-bar button {
  background-color: transparent;
  border: 0;
  color: var(--muted-pink);
}

#login-page .title-bar button:hover {
  background-color: var(--muted-pink);
  color: var(--muted-red);
}

#login-btn {
  height: 20px;
  font-size: 1.2em;
  font-weight: 800;
  background-color: transparent;
  color: var(--orange-cream);
  border: 0;
  margin-top: -30px;
}

#login-btn .offset {
  position: relative;
  top: 5px;
  transition: 
    top 0.5s ease;
}

#login-btn:hover .offset {
  top: 0;
}

#login-btn .underline-animation::after {
  height: 2px;
}

/* ---------- Home page ---------- */
#home-page {
  background-color: rgb(25, 25, 25);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  p {
    margin: 0 20px;
    color: white;
    max-width: 100%;
  }
}

#home-page * {
  min-height: 0;
}

#settings-bar {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 8px 0 0;
}

#settings-bar button {
  background-color: transparent;
  height: fit-content;
  width: 15px;
  border: 0;
  padding: 0;
  margin: 0;
  color: white;
  font-size: 0.6em;
}

#settings-bar button:hover {
  opacity: 0.8;
}

#lyrics {
  flex: 0 1 45%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.lyric {
  min-width: 0;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
}

#home-page #lyric-prev, #home-page #lyric-next {
  color: rgb(160, 160, 160);
  font-size: 0.8em;
  font-weight: 600;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#home-page #lyric-main {
  word-wrap: break-word;
  max-height: 2.2em;
  overflow: hidden;
}

@keyframes scroll-x {
  from {transform: translateX(0);}
  to {transform: translateX(-50%);}
}

#home-page #now-playing {
  max-width: 80%;
  p {
    font-size: 0.55em;
    font-style: italic;
    overflow: hidden;
    white-space: nowrap;
  }
  #song-info-container {
    display: inline-block;  /* Makes overflow: hidden work */
    overflow: hidden;
    white-space: nowrap;
    max-width: initial;
    vertical-align: bottom;  /* Fixes text misalignment due to inline-block display */
  }
  /* Prevents text from being clipped due to font-style:italic */
  #song-info-container::after {
    content: '';
    padding: 1px;
  }
  .scroll-container {
    display: inline-block;  /* Allows scrolling */
  }
  .scroll-x {
    animation-name: scroll-x;
    animation-duration: 10s;
    animation-iteration-count: infinite;  
    animation-timing-function: linear;
  }
}

#info-msg {
  font-size: 0.4em;
  visibility: hidden;
  text-align: center;
  margin-top: 5px;
  opacity: 1;
}

#info-msg.fade-out {
  transition: opacity 2s;
  opacity: 0;
}

#controls-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 6px;
}
 
#playback-controls {
  display: none;  /* CHANGE BACK TO FLEX */
  flex-wrap: nowrap;
  justify-content: center;
  gap: 16px;
  width: fit-content;
  margin: 0 auto;
}

#font-controls {
  padding: 0 20px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.font-btn {
  font-size: 0.6em;
  background-color: transparent;
  border: 0;
  height: 20px;
  color: white;
  padding: 0 5px;
}

.font-btn:hover {
  text-decoration: underline;
}

.playback-btn {
  background-color: transparent;
  border: 0;
  padding: 0;
}

.playback-btn:disabled {
  opacity: 0.5;
}

/* Glow on hover effect */
.playback-btn:not(:disabled) svg:hover {
  filter: drop-shadow(0 0 3px #ffffff);
}

#home-page title-bar {
  position: absolute;
  top: 0;
  right: 0;
  width: fit-content;
}

#home-page .title-bar button {
  background-color: transparent;
  color: rgb(160, 160, 160);
  border: 0;
}

#home-page .title-bar button:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

#home-page #progress-bar {
  width: 0%;
  height: 3px;
  background-color: white;
}

/* ---------- Error page ---------- */
#error-page {
  position: relative;  /* Create positioning context */
}

/* Using background-image makes the image's colours not render correctly
for some fuckass reason so the bg img is embedded as HTML */
#error-page .bg-img {
  position: absolute;
  z-index: -1;
}

#error-page #error-msg {
  position: absolute;
  right: 0;
  bottom: 15%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0.2em;
  width: 60%;
  justify-content: center;
}

#error-page h2 {
  color: var(--strong-red);
  font-size: 1.5em;
  margin: 0;
}

#error-page #return-to-login {
  background-color: transparent;
  border: 0;
  font-size: 0.8em;
  color: white;
  padding: 0;
  width: fit-content;
}

#error-page .underline-animation::after {
  height: 1px;
}

#error-page p {
  position: absolute;
  top: 0;
  left: 0;
  margin: 15px 10px;
  font-size: 4.5em;
  font-weight: 900;
  color: white;
}

#error-page .title-bar {
  position: relative;
  top: 0;
  right: 0;
}

#error-page .title-bar button {
  background-color: transparent;
  border: 0;
  color: white;
}

#error-page .title-bar button:hover {
  background-color: var(--dark-cool-purple);
  color: rgb(185, 185, 185);
}