:root {
  /* Fonts */
  --default-font: "Epilogue", "-apple-system", "BlinkMacSystemFont", "Avenir Next", "Avenir", "Segoe UI", "Helvetica Neue", "Adwaita Sans"," Cantarell", 'Ubuntu', "Roboto", "Noto", "Helvetica", "Arial", "sans-serif";

  /* Colours */
  --orange-cream: rgba(246, 223, 208, 1);
  --muted-red: rgba(102, 46, 55, 1);
  --light-muted-red: rgba(148, 87, 97, 1);
  --muted-pink: rgba(206, 116, 131, 1);
  --strong-red: rgba(255, 15, 15, 1);
  --dark-cool-purple: rgba(6, 0, 73, 0.4);

  /* Opacity */
  --background-opacity: 0.9;
}

html, body {
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
}

* button, #opacity-slider {
  app-region: no-drag;
}

button, p {
  font-family: inherit;
}

main {
  max-height: 100%;
  max-width: 100%;
  flex: 0 0 100%;
  display: flex;
}

.page {
  height: 100%;
  width: 100%;
  min-height: 0;
  flex: 1;
  app-region: drag;
}

title-bar {
  width: 100%;
  display: block;
}

/* Bottom border growing from left to right animation */
.underline-animation {
  position: relative;
}
.underline-animation::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  background-color: currentColor;
  transition: width 0.5s ease;
}
.underline-animation:hover::after {
  width: 100%;
}

/* ---------- Login page ---------- */
/* Login page's background image */
#login-page::before {
  content: "";
  position: absolute;
  inset: 0;
  opacity: var(--background-opacity);
  z-index: -1;
  background-image: url("./../../assets/images/login-background.png");
}

#login-page {
  font-family: var(--default-font);
  display: grid;
  grid-template-rows: 1fr 4fr;
  justify-items: center;
  align-items: center;
  border: 2px solid var(--light-muted-red);
  border-radius: 9px;
}

#music-note {
  position: absolute;
  right: 5px;
  opacity: 50%;
  transform: scale(33%);
  mix-blend-mode: overlay;
}

#login-page-star {
  position: absolute;
  right: 120px;
  bottom: 35px;
}

/* Styling the button inside shadow DOM */
#login-page title-bar {
  --btn-bg: transparent;
  --btn-border: 0;
  --btn-color: var(--muted-pink);
  --btn-hover-bg: var(--muted-pink);
  --btn-hover-color: var(--muted-red); 
}

#login-btn {
  height: 20px;
  font-size: 1.2em;
  font-weight: 800;
  background-color: transparent;
  color: var(--orange-cream);
  border: 0;
  margin-top: -30px;
}

#login-btn .offset {
  position: relative;
  top: 5px;
  transition: 
    top 0.5s ease;
}

#login-btn:hover .offset {
  top: 0;
}

#login-btn .underline-animation::after {
  height: 2px;
}

/* ---------- Home page ---------- */
#home-page {
  --font: var(--default-font);
  --theme-text-primary: white;
  --theme-text-secondary: rgb(160, 160, 160);
  --theme-background-color: rgb(25, 25, 25);
  --theme-background-image: none;

  font-family: var(--font);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  border: 1px solid var(--theme-text-secondary);
  border-radius: 8px;
  p {
    margin: 0 20px;
    color: var(--theme-text-primary);
    max-width: 100%;
  }
}

#home-page-background, #home-page #overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

#home-page-background {
  background-color: var(--theme-background-color);
  background-image: var(--theme-background-image);
  background-position: center center;
  filter: blur(2px);
  opacity: var(--background-opacity);
}

#home-page #overlay {
  visibility: hidden;
  background: radial-gradient(ellipse 80% 70% at center, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 80%);
}

#home-page * {
  min-height: 0;
}

#settings-bar {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 8px 0 0;
}

#settings-bar button {
  background-color: transparent;
  height: fit-content;
  width: 15px;
  border: 0;
  padding: 0;
  margin: 0;
  color: var(--theme-text-primary);
  font-size: 0.6em;
}

#settings-bar button:hover, .theme-btn:hover, #action-bar button:hover {
  opacity: 0.6;
}

#action-bar {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-wrap: nowrap;
  gap: 2px;
  padding: 3px 5px;
  button {
    border: 0;
    padding: 0;
    color: var(--theme-text-secondary);
    font-size: 1.1em;
    background: transparent;
    width: 20px;
    height: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}

#action-bar #corner-btn {
  padding-top: 3px;
}

#lyrics {
  flex: 0.5 1 45%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.lyric {
  min-width: 0;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
}

#home-page #lyric-prev, #home-page #lyric-next {
  color: var(--theme-text-secondary);
  font-size: 0.8em;
  font-weight: 600;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#home-page #lyric-main {
  word-wrap: break-word;
  max-height: 2.2em;
  overflow: hidden;
  line-height: 1.05;
}

@keyframes scroll-x {
  from {transform: translateX(0);}
  to {transform: translateX(-50%);}
}

#home-page #now-playing {
  max-width: 80%;
  p {
    font-size: 0.55em;
    font-style: italic;
    overflow: hidden;
    white-space: nowrap;
  }
  #song-info-container {
    display: inline-block;  /* Makes overflow: hidden work */
    overflow: hidden;
    white-space: nowrap;
    max-width: initial;
    vertical-align: bottom;  /* Fixes text misalignment due to inline-block display */
  }
  /* Prevents text from being clipped due to font-style:italic */
  #song-info-container::after {
    content: '';
    padding: 1px;
  }
  .scroll-container {
    display: inline-block;  /* Allows scrolling */
  }
  .scroll-x {
    animation-name: scroll-x;
    animation-duration: 10s;
    animation-iteration-count: infinite;  
    animation-timing-function: linear;
  }
}

/* Make sure the following two selectors have the same specificity */
#home-page #info-msg {
  font-size: 0.45em;
  text-align: center;
  margin-top: 2px;
  opacity: 1;
}

#home-page #info-msg.fade-out {
  transition: opacity 2s;
  opacity: 0;
}

#controls-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
 
.edit-controls {
  padding: 0 20px;
  display: none;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  height: 20px;
  margin-bottom: 4px;
}

.font-btn {
  font-size: 0.6em;
  background-color: transparent;
  border: 0;
  height: 20px;
  color: var(--theme-text-primary);
  padding: 0 5px;
}

.font-btn:hover, .underline {
  text-decoration: underline;
}

.theme-btn {
  background: transparent;
  border: 0;
}

#opacity-slider {
  appearance: none;  /* Overrides default styling */
  background: var(--theme-text-secondary);
  color: var(--theme-text-primary);
  height: 4px;
  width: 85%;
}

#opacity-slider::-webkit-slider-thumb {
  appearance: none;  /* Overrides default styling */
  background: var(--theme-text-primary);
  width: 12px;
  height: 12px;
  border-radius: 50%;  /* Make it a circle */
  cursor: pointer;
}

#opacity-controls p {
  margin: 0 5px;
  font-size: 0.5em;
}

#playback-controls {
  display: flex;  
  flex-wrap: nowrap;
  justify-content: center;
  gap: 16px;
  width: fit-content;
  margin: 0 auto 6px;
}

.playback-btn {
  background-color: transparent;
  color: var(--theme-text-primary);
  border: 0;
  padding: 0;
}

.playback-btn:disabled {
  opacity: 0.5;
}

/* Glow on hover effect */
.playback-btn:not(:disabled) {
  --hover-effect: drop-shadow(0 0 3px var(--theme-text-primary));
  svg:hover {
    filter: var(--hover-effect);
  }
}

#home-page title-bar {
  position: absolute;
  top: 0;
  right: 0;
  width: fit-content;
  --btn-bg: transparent;
  --btn-color: var(--theme-text-secondary);
  --btn-border: 0;
  --btn-hover-bg: rgba(255, 255, 255, 0.3);
  --btn-hover-color: var(--theme-text-primary);
}

#home-page #progress-hitbox {
  position: relative;
  height: 6px;
  app-region: no-drag;
  #progress-track, #progress-bar {
    position: absolute;
    bottom: 0;
    height: 2px;
  }
}

#home-page #progress-hitbox.enabled:hover {
  cursor: pointer;
  #progress-track {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

#home-page #progress-track {
  width: 100%;
}

#home-page #progress-bar {
  width: 0%;
  background-color: var(--theme-text-primary);
}

/* ---------- Error page ---------- */
#error-page {
  font-family: var(--default-font);
  position: relative;  /* Create positioning context */
  overflow: hidden;
  border: 2px solid #1c17a9;
  border-radius: 8px;
}

/* Using background-image makes the image's colours not render correctly
for some fuckass reason so the bg img is embedded as HTML */
#error-page .bg-img {
  opacity: calc(var(--background-opacity) / 2);
  position: absolute;
  z-index: -1;
}

#error-page #error-msg {
  position: absolute;
  right: 0;
  bottom: 15%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0.2em;
  width: 60%;
  justify-content: center;
}

#error-page h2 {
  color: var(--strong-red);
  font-size: 1.5em;
  margin: 0;
}

#error-page #return-to-login {
  background-color: transparent;
  border: 0;
  font-size: 0.8em;
  color: white;
  padding: 0;
  width: fit-content;
}

#error-page .underline-animation::after {
  height: 1px;
}

#error-page p {
  position: absolute;
  top: 0;
  left: 0;
  margin: 15px 10px;
  font-size: 4.5em;
  font-weight: 900;
  color: white;
}

#error-page title-bar {
  --btn-bg: transparent;
  --btn-border: 0;
  --btn-color: white;
  --btn-hover-bg: var(--dark-cool-purple);
  --btn-hover-color: rgb(185, 185, 185);
  --title-bar-position: relative;
  --title-bar-top: 0;
  --title-bar-right: 0;
}